In [11]:
# 导入包
from sklearn.datasets import load_iris

In [18]:
# 使用load_iris函数加载Iris数据集
iris = load_iris()

In [26]:
# Iris数据集的特征存储在iris.data中
X = iris.data
type(X)

numpy.ndarray

In [31]:
# Iris数据集的目标（标签）存储在iris.target中
y = iris.target
type(y)

numpy.ndarray

In [39]:
# 导入包
import seaborn as sns

In [46]:
# 使用seaborn.load_dataset函数加载Iris数据集
iris_df = sns.load_dataset('iris')

In [50]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [53]:
type(iris_df)

pandas.core.frame.DataFrame